name: My First GitHub Actions Workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: Hellooooo
          run: echo "Hello from SK"
        
        - name: Checkout Repo
          run: echo "Checking out repo"

        - name: List files
          run: ls